body {
    display: flex;
    flex-direction: column;
    width: 100%
}

p {
    font-size: 24px;
}

img {
    height: fit-content;
    width: 100px;
}

.img5 {
    padding: 16px
}

.img7 {
    padding: 16px
}

.container1 {
    display: flex;
    width: 700px;
    justify-content: flex-start;
}

.container2 {
    display: flex;
    width: 700px;
    gap: 16px;
    justify-content: flex-start;
}

.container3 {
    height: 290px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 16px
}

.container4 {
    display: flex;
    width: 700px;
    justify-content: space-between;
    padding: 0 16px
}

.container5 {
    display: flex;
    width: 700px;
    justify-content: flex-end;
}

.container6 {
    display: flex;
    width: 700px;
    justify-content: flex-end;
    justify-content: space-evenly;
}

.container7 {
    height: 500px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 16px;
}

div {
    border: 4px pink solid;
}